<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.money">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.LauncherActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.AddTransactionActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.AddCategoryActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activities.OperationActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activities.RecommendationActivity"
            android:screenOrientation="portrait"/>

        <service
            android:name=".RecomandationIntentSerice"
            android:enabled="true"
            android:exported="false" />

        <provider
            android:name="com.money.database.DatabaseProvider"
            android:authorities="com.money"
            android:enabled="true"
            android:exported="true"
            android:syncable="true" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a5f8bbe3dc4f4e3c2c473399a47826d84b7daa24" />
    </application>

</manifest>
